body {
  font-family:$body-font;
}

.row {
  border-bottom:2px solid #c0c0c0;
  margin:1em auto;

  &:last-child {
    border-bottom:0px solid;
  }

  .one-third.column {
    img {
      width: auto;
      max-width: 100%;
    }
  }
}